---
layout: home
main_image: /uploads/headerimage.jpg
---
{% assign settings = settings.data.settings %}
<nav id="menu">
    {% include menu.html %}
</nav>

<main id="panel">
  <div class="header" {% if page.main_image %} style=" background: url({{ page.main_image }}) no-repeat center center; background-size: cover;"
{% else %}style=" background: url({{settings.main_image}}) no-repeat center center; background-size: cover;" {% endif %}>
<div class="top">
  <ul class="socialbar">
    <li><a href="#"><i class="fa fa-phone"></i></a></li>
    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  </ul>
  <a href="#" class="toggle-button"><img src="http://sitesforchurch.s3.amazonaws.com/Menu.png" alt="Menu" width="45" height="45px" /></a>
  </div><!--/top-->
  <img src="http://placehold.it/320x140?text=logo" alt="" />
  <h1 class="editable">A small church with a big heart</h1>
  <p class="editable">If you live in the Robinson, IL area you can find a church home where you are loved and can grow in the faith. At New Hebron Baptist Church we love Jesus, love the Bible and love people.</p>
  <a href="#visit" class="cta button large">Plan A Visit</a>
  <ul class="menu">
  {% if site.data.events[0].Event_Title %}
    <li><a href="#"><i class="fa fa-calendar"></i> View Upcoming Events</a></li>{% endif %}
    <li><a href="#pastor"><i class="fa fa-user"></i> Meet Our Pastor</a></li>
    <li><a href="#contact"><i class="fa fa-envelope"></i> Get In Touch</a></li>
  </ul>
</div><!--/header-->
<div class="intro">
  <h2 class="editable">What if you could find....</h2>
  <div class="find-sections">
  <div class="find-section editable">
    <img src="http://sitesforchurch.s3.amazonaws.com/grace.jpg" alt="" />
    <h3>GRACE</h3>
    <p>Learn about what Jesus has done for you. He’s paved the way for you to have a meaningful relationship with God and an eternal home in heaven.</p>
  </div><!--/find-section-->
  <div class="find-section editable">
    <img src="http://sitesforchurch.s3.amazonaws.com/purpose.jpg" alt="" />
    <h3>PURPOSE</h3>
    <p>Live for more than toys and a paycheck. Figure out what God made you. Be a part of something with eternal consequences.</p>
  </div><!--/find-section-->
  <div class="find-section editable">
    <img src="http://sitesforchurch.s3.amazonaws.com/community.jpg" alt="" />
    <h3>COMMUNITY</h3>
    <p>Don’t go it alone. Find friends who share your deepest beliefs and will help and encourage you through life.</p>
  </div><!--/find-section-->
  <div class="find-section editable"><p><img alt="" src="http://sitesforchurch.s3.amazonaws.com/instruction.jpg" /></p><h3>INSTRUCTION</h3><p>Discover what God&rsquo;s word says. Hear it taught and explained regularly and let it nourish you and grow you in your Christian life.</p></div><!--/find-section-->
  </div><!--/find-sections-->
</div><!--/intro-->
<div class="testimonials">
  <div class="testimonials-wrapper">
    {% for item in site.testimonials %}
   
  <div class="testimonial">
    <img src="{{ item.thumbnail_image }}" alt="" />
    {{ item.testimonial_markdown | markdownify }}
    <p class="signature"> {{ item.person }}, {{item.hometown}}</p>
  </div><!--/testimonial-->
   {% endfor %}
 
  </div><!--/testimonials-wrapper-->
</div><!--/testimonials-->
<div class="visit">
  <h2 id="visit">{{site.data.visit2[0].Heading }}</h2>
  <p class="intro-text">{{site.data.visit2[0].Intro }}</p>
  <div class="visit-sections">
    {% for section in site.data.visit1 %}
  <div class="visit-section">
    <img src="{{section.Image[0].url}}" alt="" />
    <div class="text">
      <h3>{{section.Heading}}</h3>
      {{section.Text | markdownify }}
    </div><!--/text-->
    </div><!--/visit-section-->
   {% endfor %}
    </div><!--/visit-sections-->
</div><!--/visit-->
<div class="map" id="canvas1">
       {{site.data.visit2[0].Map_Embed}}
</div><!--/map-->
<div class="pastor">
  <h2 id="pastor">Meet Our Pastor</h2>
  <img src="{{ site.data.pastor[0].Image[0].url }}" alt="" />
  {{ site.data.pastor[0].Text | markdownify }}
  <ul class="pastor-contact">
    <li class="email">{{ site.data.pastor[0].Email }} </li>
    <li class="phone"> {{ site.data.pastor[0].Phone }} </li>
  </ul>
</div><!--/pastor-->
{% if site.data.events[0].Event_Title %}
<div class="events">
  <h2>Upcoming Events</h2>

  {% for event in site.data.featuredevent %}
  <div class="featured-event">
  <div class="image">
    {% if event.Featured_Image %}
    <img src="{{event.Featured_Image[0].url}}" alt="" />
    {% else %}
    <img src="http://placehold.it/600x337" alt="" />
    {% endif %}
  </div><!--/image-->
    <div class="details">
      <h4><a href="#">{{event.Event_Title}}</a></h4>
      <p class="date"><strong>Date:</strong> {{event.Date | date: "%A, %B %-d"}}</p>
      <p class="time"><strong>Time:</strong> {{event.Date | date: "%I:%M %p"}}</p>
      <p class="description">
        {{event.Event_Description}}
      </p>
      <a href="#" class="read-more">Read More</a>
    </div><!--/details-->
  </div><!--/featured-event-->
  {% endfor %}
  {% for event in site.data.events %}
  <div class="single-event">
      <div class="date-display">
        <p class="number">{{event.Date | date: "%d"}}</p>
        <p class="month">{{event.Date | date: "%b"}}</p>
      </div><!--/date-display-->
      <div class="event-info">
        <h4><a href="#">{{event.Event_Title}}</a></h4>
        <p class="date"><strong>Date:</strong> {{event.Date | date: "%A, %B %-d"}}</p>
        <p class="time"><strong>Time:</strong> {{event.Date | date: "%I:%M %p"}}</p>
      </div><!--/event-info-->
  </div><!--/single-event-->
  {% endfor %}
</div><!--/events-->
{% endif %}
<div class="photos">
  <div class="photos-inner" id="sqr-gallery">
  {% for img in site.data.images[0].Images  limit: 12 %}
        <div class="photo"><a href="#" data-featherlight="{{img.url}}"><img src="{{img.thumbnails.large.url }}" alt="" /></a></div>
      {% endfor %}
  </div><!--/photos-inner-->
</div><!--/gallery-->

{% include footer.html %}
</main>